# Virtual environment
venv/
env/

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
